{% extends '__base.html' %}
{% block title %} Main{% endblock %}
{% block content %}
        <h1>메인 화면</h1>
        <ul>
            <li><a href="{% url 'navermovie' %}">영화 별점 정보</a></li>
            <li>
                <form action="{% url 'keyword' %}" method="post">
                    {% csrf_token %}
                    검색어 : <input type="text" name = 'keyword'  >
                <input type="submit" value="키워드 검색 정보">
                </form>
            </li>
            <li><a href="{% url 'resultmovie' %}">영화 별점 목록 보기</a></li>
            <li><a href="{% url 'resultkeyword' %}">키워드 검색 목록 보기</a></li>
        </ul>
{% endblock %}

